.intro.intro-affiliate
  .shell
    %h2 Introducing
    %h1
      The Aerial Applications
      %br Affiliate Program
    %a.btn.btn-blue.btn-large{:href => "#"} Free to Sign Up
.main
  %section.section.section-half.section-half-secondary.section-aling-left.section-border
    .shell
      .section-content
        .section-head
          %h3
            Make Good Money
            %br Doing What You Love
        / /.section-head
        .section-body
          %p As a member of Aerial Applications, you'll make great money as an independent contractor. Fly for our community of subscribers and get paid immediately after the job is done.
        / /.section-body
        .section-head
          %h3
            Work with
            %br Great People
        / /.section-head
        .section-body
          %p We at Aerial Applications believe in putting people first. That's why we have exceptional staff and nurture a robust community of affiliates. It's also why we have such great customers.
        / /.section-body
        .section-head
          %h3 Fly When You Want
        / /.section-head
        .section-body
          %p Use the simple Aerial Applications interface to set your availability and we'll send projects your way as they come up.
        / /.section-body
      / /.section-content
    / /.shell
    .section-image
      %img{:alt => "", :src => "assets/section3.jpg"}
    / /.section-image
  / /.section section-half section-half-secondary
  %section.section.section-half.section-half-secondary.section-aling-right.section-half-gray
    .shell
      .section-content
        .section-head
          %h3 How to Quality
        / /.section-head
        .section-body
          %p Follow our simple-to-use sign up instructions. Once you sign up, we'll ask some basic questions about your background, FAA status, and the type of drone that you're flying. If you're unsure about any step in the process, let us know and we'll help you along.
        / /.section-body
        .section-head
          %h3
            Ongoing
            %br
              Professional
              %br Training
        / /.section-head
        .section-body
          %p Follow our simple-to-use sign up instructions. Once you sign up, we'll ask some basic questions about your background, FAA status, and the type of drone that you're flying. If you're unsure about any step in the process, let us know and we'll help you along.
          %p.blue You’ve got nothing to lose.
          / /.blue
        / /.section-body
      / /.section-content
    / /.shell
    .section-image
      %img{:alt => "", :src => "assets/section4.jpg"}
    / /.section-image
  / /.section section-half section-half-secondary
/ /.main