.intro
  .shell
    %h2 Aerial Applications
    %h1 Your Own Flight Team.
    .intro-inner
      %p Book professional, high quality aerial photos and video for your business whenever you need them.
      %p With Aerial Applications, you'll have all the benefits of a team of UAV pilots working for you, without the hassle of owning your own drones.
    %a.btn.btn-blue.btn-large{:href => "/signup"} Free Sign Up
.main
  %section.section.section-gray
    .shell
      .section-head
        %h3 Ridiculously Simple
      .section-body
        %ul.list-features
          %li
            %i.ico-calendar-plus.desktop
            %i.ico-calendar-plus-small.mobile
            %span
              Set a
              %br Date
          %li
            %i.ico-ticks.desktop
            %i.ico-ticks-small.mobile
            %span
              Specify Your
              %br Requirements
          %li
            %i.ico-calendar-tick.desktop
            %i.ico-calendar-tick-small.mobile
            %span
              Schedule the
              %br Flight
          %li
            %i.ico-drone.desktop
            %i.ico-drone-small.mobile
            %span
              We Fly
              %br for You
          %li
            %i.ico-portrait.desktop
            %i.ico-portrait-small.mobile
            %span
              We Deliver
              %br Your Photos
      .section-actions
        %a.btn.btn-blue.btn-large{:href => "/signup"} Try it for Free
  %section.section.section-half.section-aling-left
    .shell
      .section-content
        .section-head
          %h3
            With a Wide
            %br Range of Uses
        .section-body
          %h4 We’re curretly serving
          %ul.list-info
            %li Commercial real estate
            %li Building Inspections
            %li Construction
            %li HVAC
            %li Film & Media
          %p We love solving problems. If you need an eagle-eye point of view for your business and don't see it on our list, reach out and we'll be happy to see if we can help you.
        .section-actions
          %a.btn.btn-blue.btn-medium{:href => "/signup"} Sign Up to Learn More
    .section-image
      %img{:alt => "", :src => "/assets/section1.jpg"}
  %section.section.section-half.section-aling-right
    .shell
      .section-content
        .section-head
          %h3
            And Best in
            %br Class Technology
        .section-body
          %p
            We're committed to flying the
            %br
              best devices available to meet
              %br the needs of our customers.
          %p
            We fly the DJI Phantom 3
            %br
              Professional, with built in 4K
              %br video and 12 megapixel pictures.
        .section-actions
          %a.btn.btn-blue.btn-medium{:href => "/signup"} Try it for Free
    .section-image
      %img{:alt => "", :src => "/assets/section2.jpg"}
  %section.section.section-primary
    .shell
      .col.col-1of2
        .section-head
          %h3 Plus Delightful Service
        .section-body
          %p Call us anytime.
          %p We're here 24/7 with anything you need, and love having the chance to help you in any way that we can.
          %p
            %strong 100% Satisfaction Guaranteed
            If you don't like it, we'll reshoot it
      .col.col-1of2
        .section-head
          %h3 And Subscription or On Demand Pricing
        .section-body
          %p We have a straightforward approach to pricing, with discounts for frequent flights.
          %p Call us and we will be happy to set up a  package that works for you.