.team-member-container
  .back-link.link 
    %a{:href =>  "/about#team"} << Back to Team
  .PHOTO-container
    = image_tag "Kyle-Bembnister.jpg", :class => "PHOTO"
    .linkedIn-link.link
      %a{:href => "https://www.linkedin.com/in/kylebembnister"} Connect on LinkedIn
  .INF0
    .team-member-name Kyle Bembnister
    .team-member-position Engineer
    .education Education
    %p
      M.S. Mechanical Engineering Embry­Riddle Aeronautical University (2016 expected)
      %br
      B.S. Aerospace Engineering, Embry­Riddle Aeronautical  University (2010) (Magna  Cum
      Laude)
    .team-member-experience 
      Current Position and 
      %br
      Relevant Experience
    %p
      Mr.  Kyle  Bembnister’s  work  experience  includes  engineering  for Microflex, 
      TIMCO Aerosystems, Intel, Boeing, and Insitu ­ a Boeing Company. He has worked on  
      engineering  on  CH­47  Chinook  helicopters,  developed  autonomous  aircraft  collision 
      avoidance algorithms, and designed aircraft systems to solve unique engineering challenges.
  .pages.link 
    %a{:href => about_mike_ledermann_path} << Previous Team Member
    %a{:href => about_timothy_haas_path} Next Team Member >> 