.content.no-margin{class: "#{'no-margin' if @home}"}
  .PH0T0
    .touxiang
    .linkinlink Connect to LinkedIn
  .INF0
    .title{:style => "font-size: 18px"} Joseph Sullivan
    %br
      .ceo{:style => "font-size: 16px"} CEO
      %br
        .school
          .edu{:style => "font-size: 16px"} Education
          .neirong{:style => "font-size: 14px"}
            M.P.P. Public Policy, Pepperdine University (2011)
            %br
              B.A. Philosophy and Theology, Thomas Aquinas College (2009)
        %br
          .blabla
            .jjyy{:style => "font-size: 16px"}
              Current Position and
              %br
                Relevant Experience
            %br
              .neirong{:style => "font-size: 14px"}
                Mr. Joseph Sullivan serves as the CEO of Robotic Services Inc.
                
                (RSI). Mr. Sullivan was part of a team that helped raise $35
                
                Million for early stage companies in less than 16 months. He
                
                is passionate about technology, building robotic systems, and
                
                taking startups from the idea stage through to revenue
                
                generation.
  %br
  .pages Previous Team Member &nbsp&nbsp&nbsp&nbsp&nbsp Next Team Member  