.team-member-container
  .back-link.link 
    %a{:href => "/about#team"} << Back to Team
  .PHOTO-container
    = image_tag "Tim-Haas.jpg", :class => "PHOTO"
    .linkedIn-link.link
      %a{:href => "https://www.linkedin.com/in/timhaas", :target => "_blank"} Connect on LinkedIn
  .INF0
    .team-member-name Timothy Haas
    .team-member-position Business Development
    .education Education
    %p
      B.A. English, Allegheny College (1989)
    .team-member-experience 
      Current Position and 
      %br
      Relevant Experience
    %p
      Mr. Timothy Haas  has  been  a  successful  technology  entrepreneur  for
      over 15 years – working with Dow Jones and Decisive Analytics. He has an extensive product 
      development  and  go­to­market  background  ­  taking  information  services  capabilities  like 
      STORM  from  concept  to  commercial  solution.  He  has  commercialized  solutions  for  The Wall 
      Street Journal, Dow Jones Newswires, Barron’s, Factiva and Decisive Analytics.
  .pages.link 
    %a{:href => about_kyle_bembnister_path} << Previous Team Member