.account
  %h1 Account
  #sidebar
    %nav
      %ul
        %li
          %a{:href => "#Personal"} Personal Settings
        %li
          %a{:href => "#Company"} Company Info
        %li
          %a{:href => "#Payment"} Payment Methods
        %li
          %a{:href => "#Notification"} Notification Setting
        %li
          %a{:href => "#Referrals"} Referrals
    %input.button{:type=>"button", :value=>"Save Changes", :style=>"width: 150px;"}
  #content.account-content
    %section#Personal
      %h2 Personal Settings
      .form_area
        %form#basic
          %h3 Account Basics
          %label Email
          %input{:type => "email"}
          %br
          %label Password
          %input.gray-button{:href => "#dialog1", :name => "modal", :type => "button", :value => "Change Password"}
          %br
          %br
        %label
        =image_tag "fb-connect.jpg"
        %hr
        %form#profile
          %h3 Profile
          %label First Name
          %input
          %br
          %label Last Name
          %input
          %br
          %label Address 1
          %input
          %br
          %label Address 2
          %input
          %br
          %label City
          %input
          %br
          %label State
          %input
          %br
          %label Zip code
          %input
          %br
          %label Phone
          %input{:maxlength => "12", :style => "width: 130px", :type => "tel"}
          %select
            %option Cell
            %option Home
            %option Business
    %section#Company
      %h2 Company Info
      .form_area
        %form#company-basic
          %h3 Company Basics
          %label Industry
          %input
          %br
          %label Website
          %input
          %br
          %label HQ Phone
          %input
        %hr{:style=>"margin-top:15px;"}
        %form#company-address
          %h3 Company Address
          %label Address 1
          %input
          %br
          %label Address 2
          %input
          %br
          %label City
          %input
          %br
          %label State
          %input
          %br
          %label Zip Code
          %input
    %section#Payment
      %h2 Payment Methods
      .form_area
        %form
          %h3 Saved cards
          %table
            %tbody
              %tr
                %td.payment-info Visa **** **** **** 1234 Exp: 11/19
                %td
                  %input.gray-button{:value => "Update This Card", :type => "button"}
              %tr
                %td.payment-info Visa **** **** **** 1234 Exp: 11/19
                %td
                  %input.gray-button{:value => "Update This Card", :type => "button"}
          %input.button{:value => "Add New Card", :type => "button", :style => "float:right; width: 180px;"}
    %section#Notification
      %h2 Notification Settings
      .form_area
        %form
          %input#unchecked2.cbx{:type => "checkbox"}
            %label.lbl{:for => "unchecked2"}
          .padleft Updates about my project orders
          %br
          %input#unchecked.cbx{:type => "checkbox"}
            %label.lbl{:for => "unchecked"}
          .padleft Occassional emails about the company (products, features, discounts, etc)
    %section#Referrals
      %h2 Refferals
      .form_area
        %h3 Referral Code
        under contrction
    %section
      %input.gray-button{:value => "Deactivate Account", :type=>"button"}