<% if @current_user.errors[:message].present? %>
if ($('#user_card_number').parent().is( "span" )){
	$('#user_card_number').unwrap();
	$('.error-popup').remove();
}
$('#user_card_number').wrap( "<span class='error'></span>" ).after("<p class=\"error-popup\"><%= @current_user.errors[:message].join(',') %></p>");
<% else %>
if ($('#user_card_number').parent().is( "span" )){
	$('#user_card_number').unwrap();
	$('.error-popup').remove();
}
jQuery.noConflict(); // Because having multiple jQuery plugins causes trouble.
$('#addCardModal').modal('hide');
<% end %>