.success 
  %h1.confirm Success!
  =image_tag "checkmark.png", size: "80x80"
  %p
    Thanks you for
    %br
    joining us!
  %p
    We are delighted
    %br
    to serve you.
  %br
  %br
  %a{href: "/dashboard"} My Dashboard