<% if @current_user.errors[:match].present? %>
if ($('#user_old_password').parent().is( "span" )){
	$('#user_old_password').unwrap();
	$('.error-popup').remove();
}
$('#user_password_confirmation').wrap( "<span class='error'></span>" ).after("<p class=\"error-popup\"><%= @current_user.errors[:match].join(',') %></p>");
<% elsif @current_user.errors[:incorrect].present? %>
if ($('#user_password_confirmation').parent().is( "span" )){
	$('#user_password_confirmation').unwrap();
	$('.error-popup').remove();
}
$('#user_old_password').wrap( "<span class='error'></span>" ).after("<p class=\"error-popup\"><%= @current_user.errors[:incorrect].join(',') %></p>");
<% else %>
if ($('#user_password_confirmation').parent().is( "span" )){
	$('#user_password_confirmation').unwrap();
	$('.error-popup').remove();
}
if ($('#user_old_password').parent().is( "span" )){
	$('#user_old_password').unwrap();
	$('.error-popup').remove();
}
jQuery.noConflict(); // Because having multiple jQuery plugins causes trouble.
$('#successModal').modal('show');
<% end %>