/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html,body{
    font-size: 100%;
    margin:0;
    padding:0;
    line-height: normal;
}
.homebody{
    background:url(mountains.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
p{
	font-size: 18px;
    font-family: 'Open Sans', sans-serif;
	line-height: normal;
    margin: 0;
}
.center{
	text-align: center;
}
.left{
	text-align: left;
}
input{
    border:2px solid #CDCDCD;
    border-radius: 3px;
    height:40px;
    width:340px;
    max-width: 100%;
    margin-top:5px;
    margin-bottom:12px;
    background-color: #F7F8FA;
    -webkit-appearance:none;
    outline: none;
    box-sizing: border-box;
    padding-left: 5px;
}
textarea{
    width: 340px;
    height:150px;
    max-width: 100%;
    background-color: #F7F8FA;
    border:2px solid #CDCDCD;
    border-radius: 3px;
    margin-top:5px;
    margin-bottom:12px;
    outline: none;
    max-width: 100%;
    box-sizing: border-box;   
    padding-left: 5px;
    padding-top: 5px; 
}
.actions input{
	background:#4A90E2;
	color:white;
	height:36px;
	line-height:36px;
	border-radius:2.5px;
	border:none;
	font-weight: bold;
	font-size: 13px;
}
.error input{
	border:2px solid #ce5851;
}
.error-message{
    background: #e19e9d;
    width: 340px;
    margin-top: -14px;
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
    color: #ce5851;
    border: 2px solid #ce5851;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.success{
	font-weight: bold;
	color:gray;
	text-align: center;
}
.success a{
	color:#61A6E8;
}
.success h1{
	color:#58C535;
}

/*Content Area*/
.content{
    width:90%;
    max-width:1000px;
    padding:32px;
    padding-bottom:64px;
    position: relative;
    left:50%;
    transform:translate(-50%,0);
    background:rgba(255,255,255,1);
    overflow:hidden;
    border-bottom: 2px solid white;
    -ms-transform: translate(-50%,0); /* IE 9 */
    -webkit-transform: translate(-50%,0); /* Safari */
}

/*Table*/
.table{
	border-collapse: collapse;
	border-spacing: 0;
	display:inline-block;
}
th, td{
	padding:8px;
}
.table th{
	background:#4E80BC;
	color:white;
}
.table td, .table th{
	border-left:1px solid rgb(170,170,170);
}
.table td:last-of-type, .table th:last-of-type{
	border-right:1px solid rgb(170,170,170);
}
.table tr{
	border-top:1px solid rgb(170,170,170);
}
.table tr:last-of-type{
	border-bottom:1px solid rgb(170,170,170);
}
.table tr:nth-of-type(2n){
	background:#B7CBE3;
}
.column-title{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size:16px;
    line-height: 32px;
}
.column-line{
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 20px;
    min-height: 20px;
}
.two-column-area{
	width:100%;
}
.two-column-area .column{
	width: 50%;
	float: left;
	height:100%;
}
.no-margin{
    padding:0 !important;
}
.no-margin .center{
    position: relative;
}
.column{
	background-position: center center;
	background-size: cover;
	background-repeat:no-repeat;
	padding-bottom:64px;
	box-sizing:border-box;
}
.commercial-building-image{
	background-image:url(home_1.jpg);
}
.drone-image{
	background-image: url(home_2.jpg);
	font-size: 0;
}
.left{
	text-align: left;
}
.left.padded{
	position: relative;
	padding-left:10%;
	padding-right:5%;
	box-sizing:border-box;
}
.right{
	text-align: right;
}
.right.padded{
	position: relative;
	padding-left:5%;
	padding-right:10%;
	box-sizing:border-box;
}
.button{
    font-family: 'Open Sans';
    background:#4AA5EC;
    color:white;
    height:36px;
    line-height:36px;
    border-radius:2px;
    border:none;
    font-weight: bold;
    font-size: 13px;
    width: 340px;
    max-width: 100%;
    box-shadow: 0px 4px #3479AE;
}
.button:hover{
    background-color: #8BC5F3;
}
.button.narrow{
	max-width:350px;
	left:50%;
	transform:translateX(-50%);
}
