// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//colors
$white: #ffffff;
$color_athens_gray_approx: #eeeff1;
$color_tapa_approx: #747474;
$black: black;
$color_cerulean_approx: #02b3ec;
$color_medium_gray: #e0e1e2;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;

.a-1ist {
	font-family: $font_0, $font_1;
	width: 100%;
	text-align: left;
	margin-bottom: 20px !important;
	table {
		border: solid 2px $color_athens_gray_approx;
	}
	tr:last-child{
		border:none;
	}
	tr {
		font-size: 13px;
		color: $color_tapa_approx;
		td:first-child, th:first-child{
			padding-left: 30px;
		}
		td:last-child{
			padding-right: 30px;
		}
		&:nth-child(even) {
			background-color: $color_athens_gray_approx;
			border-top: 2px solid $color_medium_gray;
			border-bottom: 2px solid $color_medium_gray;
		}
	}
	td {
		padding-left: 10px;
		padding-right: 0;
		height: 60px;
		font-size: 16px;
		color: $black;
	}
	a {
		font-size: 13px;
		color: $color_cerulean_approx;
		font-weight: 100;
	}
}