// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//colors
$white: #ffffff;
$color_athens_gray_approx: #eeeff1;
$color_tapa_approx: #747474;
$black: black;
$color_cerulean_approx: #02b3ec;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;

.a-1ist {
	font-family: $font_0, $font_1;
	width: 100%;
	text-align: left;
	table {
		border: solid 2px $color_athens_gray_approx;
	}
	tr {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 13px;
		color: $color_tapa_approx;
		padding: 10px 0;
		&:nth-child(even) {
			background-color: $color_athens_gray_approx;
		}
	}
	td {
		padding-left: 10px;
		padding-right: 0;
		height: 60px;
		font-size: 16px;
		color: $black;
		border: none;
	}
	a {
		font-size: 13px;
		color: $color_cerulean_approx;
		font-weight: 100;
	}
}