// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//colors
$black: #000;
$color_white_lilac_approx: #f7f8fa;
$color_tapa_approx: #737373;
$color_log_cabin_approx: #1f1f1f;
$color_athens_gray_approx: #eff0f2;
$color_silver_chalice_approx: gray;
$color_malibu_approx: #87c8f2;
$color_wild_sand_approx: #f7f8fa;
$color_celeste_approx: #cbcbcb;
$color_monsoon_approx: #898989;
$white: #fff;
$black_5: rgba(0,0,0,0.05);
$color_picton_blue_approx: #4ba5ec;
$color_astral_approx: #347aae;
$color_quill_gray_approx: #d5d5d5;
$color_silver_approx: #bcbdbc;
$color_dark_gray: #edeef0;
$color_sky_blue: #59b5f0;
$color_darker_gray: #C7C8C8;
$color_darkest_gray: #777777;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;

.account {
	font-family: $font_0, $font_1;
	padding: 40px 130px;
	width: 100%;
	overflow: auto;
	h1 {
		font-size: 30px;
		margin-bottom: 40px;
	}
	h2{
		color: $color_sky_blue;
	}
	h3 {
		margin: 0px 0 20px 0;
		font-size: 24px;
	}
	h5 {
		color: #767676;
	}
}
#sidebar {
	width: 200px;
	float: left;
	nav {
		width: 200px;
		margin-bottom: 40px;
		background-color: $color_white_lilac_approx;
		border: solid 1px $color_athens_gray_approx;
		padding: 0;
		&.stick {
			position: fixed;
			top: 0;
			margin-top: 100px;
		}
		ul {
			list-style-type: none;
		}
		li {
			padding: 10px 15px;
			width: auto;
			border-bottom: 2px solid $color_athens_gray_approx;
			a {
				color: $color_silver_chalice_approx;
				text-decoration: none;
				&.nav-active {
					color: $color_malibu_approx;
				}
			}
		}
	}
}
#content {
	width: 724px;
	float: left;
	padding-left: 40px;
	select {
		margin: 5px 0 25px 0px;
		width: 420px;
	}
}
.form_area {
	width: auto;
	padding: 20px 80px 40px 30px;
	margin-bottom: 40px;
	background-color: $color_wild_sand_approx;
	border: solid 2px $color_dark_gray;
	overflow: hidden;
	.payment-info{
		width: 75%;
	    padding-bottom: 20px;
	}
	.padleft{
		padding-left: 60px;
		padding-top: 5px;
	}
}
.form_area.popup{
	padding: 5px;
	form{
		padding-top: 15px;
		padding-left: 50px;
		padding-right: 36px;
		padding-bottom: 15px;
		textarea{
			width: 100%;
			background: $white;
			margin-top: 25px;
		}
		select{
			margin-top: 5px;
			margin-bottom: 30px;
			width: 420px;
		}
	}
	.popup-message{
		font-size: 14px;
		color: $color_darkest_gray;
	}
	.inline{
		display: inline;
	}
	.header-margin{
		margin-bottom: 5px;
	}
	.next{
		float: right;
		margin-bottom: 10px;
		width: 130px;
	}
}
section {
	label {
		margin: 10px 0 30px;
		display: block;
		float: left;
		width: 150px;
		padding: 5px 0px;
		font-size: 14px;
		color: $color_darkest_gray;
	}
	input{
		margin: 5px 0 25px;
		width: 420px;
		background-color: $white;
    	border: 2px solid $color_dark_gray;
	}
	input:focus{
		border: 2px solid $color_sky_blue;
	}
	hr{
		margin: 40px 0;
    	border: 0;
    	border-top: 2px solid $color_darker_gray;
	}
}
section#Payment{
	.gray-button{
		margin-bottom: 20px;
	}
}
.lbl {
	padding: 1px;
	margin-bottom: 5px;
	position: relative;
	display: block;
	height: 20px;
	width: 44px;
	background: $color_monsoon_approx;
	border-radius: 100px;
	cursor: pointer;
	transition: all 0.3s ease;
	&:after {
		position: absolute;
		display: block;
		width: 18px;
		height: 18px;
		border-radius: 100px;
		background: $white;
		content: '';
		transition: all 0.3s ease;
	}
	&:active:after {
		transform: scale(1.15, 0.85);
	}
}
.cbx {
	display: none;
	&:checked ~ label {
		background: $color_picton_blue_approx;
		&:after {
			right: 2px;
			background: $color_astral_approx;
		}
	}
	&:disabled ~ label {
		background: $color_quill_gray_approx;
		pointer-events: none;
		&:after {
			background: $color_silver_approx;
		}
	}
}
.flash-message{
	text-align: center;
	margin-top: 10px;
	height: 20px;
	margin-bottom: 40px;
}