// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//colors
$black: #000;
$color_white_lilac_approx: #f7f8fa;
$color_tapa_approx: #737373;
$color_log_cabin_approx: #1f1f1f;
$color_athens_gray_approx: #eff0f2;
$color_silver_chalice_approx: gray;
$color_malibu_approx: #87c8f2;
$color_wild_sand_approx: #f2f3f5;
$color_celeste_approx: #cbcbcb;
$color_monsoon_approx: #898989;
$white: #fff;
$black_5: rgba(0,0,0,0.05);
$color_picton_blue_approx: #4ba5ec;
$color_astral_approx: #347aae;
$color_quill_gray_approx: #d5d5d5;
$color_silver_approx: #bcbdbc;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;

#mask {
	position: absolute;
	z-index: 9888;
	background-color: $black;
	display: none;
	width: 100%;
	height: 100%;
}
#boxes {
	.window {
		position: fixed;
		width: 600px;
		height: 300px;
		display: none;
		z-index: 9999;
		padding: 20px;
		background-color: $color_white_lilac_approx;
	}
	#dialog {
		width: 375px;
		height: 203px;
	}
	h4 {
		font-family: $font_0, $font_1;
	}
}
.account {
	font-family: $font_0, $font_1;
	padding: 20px 64px 20px 160px;
	width: 1000px;
	overflow: auto;
	h1 {
		font-size: 30px;
	}
	h3 {
		margin: 20px 0;
	}
	&.page-tit1e {
		margin: 20px 20px 20px 0;
		padding-top: 10px;
		font-weight: 100;
		color: $color_log_cabin_approx;
	}
}
.side-nav {
	width: 150px;
}
#sidebar {
	width: 200px;
	float: left;
	nav {
		width: 200px;
		background-color: $color_white_lilac_approx;
		border: solid 1px $color_athens_gray_approx;
		padding: 0;
		&.stick {
			position: fixed;
			top: 0;
			margin-top: 100px;
		}
		ul {
			list-style-type: none;
		}
		li {
			padding: 10px 15px;
			width: auto;
			border-bottom: 2px solid $color_athens_gray_approx;
			a {
				color: $color_silver_chalice_approx;
				text-decoration: none;
				&.nav-active {
					color: $color_malibu_approx;
				}
			}
		}
	}
}
#content {
	width: 724px;
	float: right;
	padding-left: 24px;
	.form_area {
		width: auto;
		padding: 10px;
		padding-left: 30px;
		background-color: $color_wild_sand_approx;
		overflow: hidden;
		.button {
			width: 200px;
			text-align: center;
		}
	}
}
section {
	margin: 10px;
	label {
		margin: 5px 0 12px;
		display: block;
		float: left;
		width: 150px;
		padding: 5px;
		padding-left: 20px;
	}
}
select {
	margin: 5px 0 12px 20px;
	border: 2px solid $color_celeste_approx;
	border-radius: 2px;
	font-family: $font_0, $font_1;
	font-size: 14px;
	padding: 3px;
}
.lbl {
	position: relative;
	display: block;
	height: 20px;
	width: 44px;
	background: $color_monsoon_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 100px;
	cursor: pointer;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease;
	&:after {
		position: absolute;
		left: -2px;
		top: -3px;
		display: block;
		width: 26px;
		height: 26px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 100px;
		background: $white;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 3px 3px $black_5;
		content: '';
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s ease;
	}
	&:active:after {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.15, 0.85);
	}
}
.cbx {
	&:checked ~ label {
		background: $color_picton_blue_approx;
		&:after {
			left: 20px;
			background: $color_astral_approx;
		}
	}
	&:disabled ~ label {
		background: $color_quill_gray_approx;
		pointer-events: none;
		&:after {
			background: $color_silver_approx;
		}
	}
}
.hidden {
	display: none;
}