// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//colors
$black: #000;
$color_white_lilac_approx: #f7f8fa;
$color_tapa_approx: #737373;
$color_log_cabin_approx: #1f1f1f;
$color_athens_gray_approx: #eff0f2;
$color_silver_chalice_approx: gray;
$color_malibu_approx: #87c8f2;
$color_wild_sand_approx: #f7f8fa;
$color_celeste_approx: #cbcbcb;
$color_monsoon_approx: #898989;
$white: #fff;
$black_5: rgba(0,0,0,0.05);
$color_picton_blue_approx: #4ba5ec;
$color_astral_approx: #347aae;
$color_quill_gray_approx: #d5d5d5;
$color_silver_approx: #bcbdbc;
$color_dark_gray: #edeef0;
$color_sky_blue: #59b5f0;
$color_dark_silver: #DBDCDD;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;

.account {
	font-family: $font_0, $font_1;
	padding: 0px 64px 0px 130px;
	width: 100%;
	overflow: auto;
	h1 {
		font-size: 30px;
		margin: 40px 0;
	}
	h2{
		color: $color_sky_blue;
	}
	h3 {
		margin: 0px 0 20px 0;
		font-size: 24px;
	}
}
#sidebar {
	width: 200px;
	float: left;
	nav {
		width: 200px;
		margin-bottom: 40px;
		background-color: $color_white_lilac_approx;
		border: solid 1px $color_athens_gray_approx;
		padding: 0;
		&.stick {
			position: fixed;
			top: 0;
			margin-top: 100px;
		}
		ul {
			list-style-type: none;
		}
		li {
			padding: 10px 15px;
			width: auto;
			border-bottom: 2px solid $color_athens_gray_approx;
			a {
				color: $color_silver_chalice_approx;
				text-decoration: none;
				&.nav-active {
					color: $color_malibu_approx;
				}
			}
		}
	}
}
#content {
	width: 724px;
	float: left;
	padding-left: 40px;
	.form_area {
		width: auto;
		padding: 20px 80px 40px 30px;
		margin-bottom: 40px;
		background-color: $color_wild_sand_approx;
		border: solid 2px $color_dark_gray;
		overflow: hidden;
		.button {
			width: 200px;
			text-align: center;
		}
		.payment-info{
			width: 75%;
		    padding-bottom: 20px;
		}
		.padleft{
			padding-left: 60px;
			padding-top: 5px;
		}
	}
	select {
		margin: 5px 0 12px 20px;
    	border: 2px solid $color_dark_gray;
    	background: $white;
	}
}
section {
	label {
		margin: 8px 0 30px;
		display: block;
		float: left;
		width: 150px;
		padding: 5px 0px;
	}
	input{
		margin: 5px 0 25px;
		width: 420px;
		background-color: $white;
    	border: 2px solid $color_dark_gray;
	}
	hr{
		margin: 40px 0;
    	border: 0;
    	border-top: 2px solid #C7C8C8;
	}
}
.gray-button{
	background: $color_dark_silver;
	width: 180px;
	padding: 0px;
	border: none;
	color: #777777;
	box-shadow: 0px 4px #c7c8c8;
}
.lbl {
	padding: 0;
	margin-bottom: 5px;
	position: relative;
	display: block;
	height: 20px;
	width: 44px;
	background: $color_monsoon_approx;
	border-radius: 100px;
	cursor: pointer;
	transition: all 0.3s ease;
	&:after {
		position: absolute;
		left: -2px;
		top: -3px;
		display: block;
		width: 26px;
		height: 26px;
		border-radius: 100px;
		background: $white;
		box-shadow: 0 3px 3px $black_5;
		content: '';
		transition: all 0.3s ease;
	}
	&:active:after {
		transform: scale(1.15, 0.85);
	}
}
.cbx {
	display: none;
	&:checked ~ label {
		background: $color_picton_blue_approx;
		&:after {
			left: 20px;
			background: $color_astral_approx;
		}
	}
	&:disabled ~ label {
		background: $color_quill_gray_approx;
		pointer-events: none;
		&:after {
			background: $color_silver_approx;
		}
	}
}