%header.header{:class => "dark-header"}
  %a.logo{:href => "/"} beta
  %a.logo-small{:href => "/"} beta
  .header-content
    %nav.nav
      %ul
        %li.mobile
          %a{:href => "/"} Home
        %li
          %a{:href => "/dashboard"} Dashboard
        %li
          %a{:href => "/projects"} Project
        %li
          %a{:href => "/users/account"} Account
        %li
          %a{:href => "/payment"} Payments
        %li{:class => "bordered"}
          %a{:href => "/projects/new"} New Project
    %nav.nav-access
      %ul
        %li
          %a{href: "/sessions/help"} Help
        %li
          %a{href: "/sessions/logout"} Log Out
  %a.nav-trigger{:href => "#"}
    %span
    %span
    %span